<launch>
	<node name="stage" pkg="stage" type="stageros" args="$(find safe_teleop)/DIS/dis-1.world"/>
	<node name="occupancy_map" pkg="occupancy_map" type="occupancy_map_generator"/>
	<node name="distance_map" pkg="distance_map" type="distance_map_generator"/>
	<node name="gradient_map" pkg="gradient_map" type="gradient_map_generator"/>
	<node name="safe_teleop" pkg="safe_teleop" type="safe_teleop_distance" output="screen"/>
	<node name="safe_gate" pkg="safe_teleop" type="safe_gate" output="screen"/>
	<node name="qtviewer" pkg="qtviewer" type="qtviewer" output="screen"/>
	
	<node respawn="true" pkg="joy" type="joy_node" name="joy" >
    		<param name="dev" type="string" value="/opt/joystick" />
    		<param name="deadzone" value="0.12" />
  	</node>

	<param name="axis_linear" value="1" type="int"/>
	<param name="axis_angular" value="0" type="int"/>
  	<param name="scale_linear" value="2" type="double"/>
  	<param name="scale_angular" value="2" type="double"/>

	<node name="teleop_joy" pkg="teleop_joy" type="teleop_joy">
		<remap from="cmd_vel" to="vel_gate"/>
	</node>

</launch>
